config WIMAX_SQN
	tristate "WiMAX SQN1210 cards support"
	depends on WIMAX && MMC
	---help---
	  This module adds support for wimax adapters based on
	  SQN1120 chipset.

	  This driver uses the kernel's wimax subsystem.

	  If you choose to build a module, it'll be called sequans_sdio. Say M if
	  unsure.

