#
# opticaljoystick driver configuration
#
menuconfig INPUT_OPTICALJOYSTICK
	bool "Opticaljoystick"
	help
	  Say Y here, and a list of supported optical joystick will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_OPTICALJOYSTICK

config OPTICALJOYSTICK_CRUCIAL
	boolean

choice
	prompt "Interface"

config OPTICALJOYSTICK_CRUCIAL_uP
	boolean "Crucial Optical Joystick (microP)"
	depends on MICROP_COMMON
	select OPTICALJOYSTICK_CRUCIAL
	help

config OPTICALJOYSTICK_CRUCIAL_SPI
	boolean "Crucial Optical Joystick (SPI)"
	depends on SPI_CRUCIAL_OJ
	select OPTICALJOYSTICK_CRUCIAL
	help

endchoice

endif
