#
# Miscellaneous I2C chip drivers configuration
#
# *** DEPRECATED! Do not add new entries! See Makefile ***
#

menu "Miscellaneous I2C Chip support"

config DS1682
	tristate "Dallas DS1682 Total Elapsed Time Recorder with Alarm"
	depends on EXPERIMENTAL
	help
	  If you say yes here you get support for Dallas Semiconductor
	  DS1682 Total Elapsed Time Recorder.

	  This driver can also be built as a module.  If so, the module
	  will be called ds1682.

config SENSORS_TSL2550
	tristate "Taos TSL2550 ambient light sensor"
	depends on EXPERIMENTAL
	help
	  If you say yes here you get support for the Taos TSL2550
	  ambient light sensor.

	  This driver can also be built as a module.  If so, the module
	  will be called tsl2550.

config SENSORS_AKM8976
	tristate "AKM8976 Compass Driver"
	depends on I2C
	help
	 AKM8976 Compass Driver implemented by HTC.

config SENSORS_AKM8973
	tristate "AKM8973 Compass Driver"
	depends on I2C
	help
	 AKM8973 Compass Driver implemented by HTC.

config SENSORS_AKM8975
        tristate "AKM8973 Compass Driver"
        depends on I2C
        help
         AKM8975 Compass Driver implemented by HTC.

config SENSORS_CAPSENSE
	tristate "CapSense Driver"
	depends on I2C
	help
	 CapSense Driver implemented by HTC.

config SENSORS_CAPSENSE_EXPRESS
	tristate "CapSense Express Driver"
	depends on I2C
	help
	 CapSense Express Driver implemented by HTC.

config SMB329
	tristate "smb329 Driver"
	depends on I2C
	help
	 SMB329 Switch charger implemented by HTC.
	 This could enable battery driver to set
	 Charging current 100mA~500mA or 500mA~1000mA
	 by GPIO or Register

config TPS65200
        tristate "tps65200 Driver"
        depends on I2C
        help
         TPS65200 Switch charger implemented by HTC.
         This could enable battery driver to set
         Charging current 100mA~500mA or 500mA~1000mA
         by GPIO or Register

config SENSORS_BMA150
	tristate "BMA150 G-sensor Driver"
	depends on I2C
	help
	 BMA150 G-sensor Driver implemented by HTC.

config SENSORS_BMA250
	tristate "BMA250 acceleration sensor support"
	depends on I2C=y
	help
	  BMA250 G-sensor Driver implemented by HTC.

config SENSORS_PCA963X
	tristate "Philips PCA963X 4-bit I2C-bus LED"
	depends on I2C && EXPERIMENTAL
	help
	 If you say yes here you get support for the Philips PCA963X
	 4-bit I2C-bus LED.

	 This driver can also be built as a module.  If so, the module
	 will be called pca963X.

config SENSORS_MT9T013
	tristate "MT9T013 Camera Driver"
	depends on I2C
	default y
	help
	 MT9T013 Camera Driver implemented by HTC.

config VP_A1026
	tristate "A1026 Voice Processor Driver"
	depends on I2C
	help
	  A1026 Voice Processor Driver implemented by HTC.

config AMP_TPA6130A
	tristate "TI TPA6130A Headset AMP Driver"
	depends on I2C
	help
	 TI TPA6130A Headset AMP Driver implemented by HTC.

config AMP_TPA2018D1
	tristate "TI TPA2018D1 Speaker AMP Driver"
	depends on I2C
	help
	 TI TPA2018D1 Speaker AMP Driver implemented by HTC.

config AMP_TPA2051D3
        tristate "TI TPA2051D3 Speaker AMP Driver"
        depends on I2C
        help
         TI TPA2051D3 Speaker AMP Driver implemented by HTC.

config AMP_TPA2026
	tristate "TI TPA2026 Speaker AMP Driver"
	depends on I2C
	help
	 TI TPA2026 Speaker AMP Driver implemented by HTC.

config AMP_TPA2028
	tristate "TI TPA2028 Speaker AMP Driver"
	depends on I2C
	help
	 TI TPA2028 Speaker AMP Driver implemented by HTC.

config INPUT_ISL29028
	tristate "ISL29028 proximity and light sensor"
	help
	  Say Y here to enable the ISL29028 Short Distance Proximity
	  Sensor with Ambient Light Sensor.

config INPUT_ISL29029
	tristate "ISL29029 proximity and light sensor"
	help
	 Say Y here to enable the ISL29029 Short Distance Proximity
	 Sensor with Ambient Light Sensor.

config INPUT_CAPELLA_CM3628
	tristate "CM3628 proximity and light sensor"
	help
	  Say Y here to enable the CM3628 Short Distance Proximity
	  Sensor with Ambient Light Sensor.

endmenu
