source "drivers/video/msm_8x60/sii9234/Kconfig"
config FB_MSM
	tristate
	depends on FB && ARCH_MSM
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	default y

config FB_MSM_LEGACY_MDP
	bool
	depends on FB_MSM && (MSM_MDP30 || MSM_MDP31 || MSM_MDP302)
	default y

config FB_MSM_MDP_PPP
	bool
	depends on FB_MSM_LEGACY_MDP
	default y

config FB_MSM_TRIPLE_BUFFER
	bool "Support for triple frame buffer"
	default n

config FB_MSM_LCDC_HW
	bool
	default n

config FB_MSM_LCDC
	bool "Support for integrated LCD controller in qsd8x50 ,MSM7x27 ,MSM7x30 and MSM8x60"
	depends on FB_MSM && (MSM_MDP31 || MSM_MDP302 || MSM_MDP40)
	default n

config FB_MSM_LCDC_PANEL
	bool
	select FB_MSM_LCDC
	default n

config FB_MSM_TVOUT
	bool "Support for TV-Out in qsd8x50"
	depends on FB_MSM && (MSM_MDP31 || MSM_MDP40)
	select FB_MSM_EXT_INTERFACE_COMMON
	default n

config FB_MSM_OVERLAY
	bool "Support for overlay in MSM7X30 and MSM8x60"
	depends on FB_MSM && MSM_MDP40
	default y

config FB_MSM_DTV
	depends on FB_MSM_OVERLAY
	bool
	default n

config FB_MSM_MDP_ABL
        bool "Support QCT auto backlight scaling"
        depends on FB_MSM && (MSM_MDP40)
        default n

choice
	prompt "Default framebuffer color depth"
	depends on MSM_MDP40 || MSM_MDP31
	default FB_MSM_8X60_DEFAULT_DEPTH_RGBA8888

config FB_MSM_8X60_DEFAULT_DEPTH_RGB565
	bool "16 bits per pixel (RGB565)"

config FB_MSM_8X60_DEFAULT_DEPTH_ARGB8888
	bool "32 bits per pixel (ARGB8888)"

config FB_MSM_8X60_DEFAULT_DEPTH_RGBA8888
	bool "32 bits per pixel (RGBA8888)"

endchoice

config FB_MSM_SELF_REFRESH
	bool "Use self refresh"
	depends on FB_MSM
	default n

config FB_MSM_HDMI_MSM_PANEL
	bool "Support for HDMI in QCT platform"
	depends on MSM_MDP40
	select FB_MSM_DTV
	select FB_MSM_EXT_INTERFACE_COMMON
	select FB_MSM_HDMI_COMMON
	select FB_MSM_HDMI_3D
	default n

config FB_MSM_HDMI_MSM_PANEL_DVI_SUPPORT
	bool "Use DVI mode"
	depends on FB_MSM_HDMI_MSM_PANEL
	default n
	---help---
	  Support for DVI mode for MSM HDMI 1080p Panel

config FB_MSM_HDMI_MSM_PANEL_HDCP_SUPPORT
	bool "Use HDCP mode"
	depends on FB_MSM_HDMI_MSM_PANEL
	default n
	---help---
	  Support for HDCP mode for MSM HDMI 1080p Panel
	  Choose to enable HDCP


config FB_MSM_EXT_INTERFACE_COMMON
	bool
	default n

config FB_MSM_HDMI_COMMON
	bool
	default n

config FB_MSM_HDMI_3D
	bool
	default n

config MSM_DSI_CLK_AUTO_CALCULATE
	bool "Use AUTO calculate"
	depends on FB_MSM_MIPI_DSI
	default n

config FB_MSM_MIPI_DSI
	bool
	default n

config FB_MSM_MIPI_DSI_TOSHIBA
	bool
	select FB_MSM_MIPI_DSI
	default n

config FB_MSM_MIPI_DSI_RENESAS
	bool
	select FB_MSM_MIPI_DSI
	default n

config FB_MSM_MIPI_DSI_NOVATEK
	bool
	select FB_MSM_MIPI_DSI
	default n

config FB_MSM_MIPI_DSI_HIMAX
	bool
	select FB_MSM_MIPI_DSI
	default n

config FB_MSM_MIPI_DSI_ORISE
	bool
	select FB_MSM_MIPI_DSI
	default n

config FB_MSM_LCDC_SAMSUNG_WSVGA
	bool
	select FB_MSM_LCDC_PANEL
	default n

config FB_MSM_LCDC_AUO_WVGA
	bool
	select FB_MSM_LCDC_PANEL
	default n 

config FB_MSM_LCDC_AUO_WXGA
	bool
	select FB_MSM_LCDC_PANEL
	default y if MACH_VERDI_LTE

config FB_MSM_MIPI_TOSHIBA_VIDEO_WVGA_PT
	bool
	select FB_MSM_MIPI_DSI_TOSHIBA
	default n

config FB_MSM_MIPI_RENESAS_VIDEO_WVGA_PT
	bool
	select FB_MSM_MIPI_DSI_RENESAS
	default n

config FB_MSM_MIPI_RENESAS_CMD_WVGA_PT
	bool
	select FB_MSM_MIPI_DSI_RENESAS
	default n

config FB_MSM_MIPI_NOVATEK_VIDEO_QHD_PT
	bool
	select FB_MSM_MIPI_DSI_NOVATEK
	default n

config FB_MSM_MIPI_NOVATEK_CMD_QHD_PT
	bool
	select FB_MSM_MIPI_DSI_NOVATEK
	default n

config FB_MSM_MIPI_ORISE_CMD_QHD_PT
	bool
	select FB_MSM_MIPI_DSI_ORISE
	default n

config FB_MSM_MIPI_HIMAX_VIDEO_720P_PT
	bool
	select FB_MSM_MIPI_DSI_HIMAX
	default n

config FB_MSM_MIPI_HIMAX_CMD_720P_PT
	bool
	select FB_MSM_MIPI_DSI_HIMAX
	default n

config FB_MSM_OVERLAY_WRITEBACK
	depends on FB_MSM_OVERLAY
	bool "MDP overlay write back mode enable"
	default y
	---help---
	Support for MDP4 OVERLAY write back mode

config FB_MSM_MIPI_PANEL_DETECT
	depends on ARCH_MSM8X60
	bool
	select FB_MSM_MIPI_RENESAS_CMD_WVGA_PT
	select FB_MSM_MIPI_NOVATEK_CMD_QHD_PT
	select FB_MSM_MIPI_HIMAX_VIDEO_720P_PT
	select FB_MSM_MIPI_ORISE_CMD_QHD_PT
	---help---
	"MIPI Panel Detect + LCDC panel"

config LCDC_TURN_ON_BL_AFTER_PANEL_ON
	bool "Turn On BL again after turn on LCDC panel"
	default n
